*{
    margin: 0px;
    padding: 0px;
}
div{
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.bg-1{
    background-image: url("https://images.pexels.com/photos/2246476/pexels-photo-2246476.jpeg?auto=compress&cs=tinysrgb&w=1600");
}
.bg-2{
    background-image: url("https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?auto=compress&cs=tinysrgb&w=1600");
}
.bg-3{
    background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&w=1600");

}
.bg-4{
    background-image: url("https://images.pexels.com/photos/919606/pexels-photo-919606.jpeg?auto=compress&cs=tinysrgb&w=1600");
}
.bg-5{
    background-image: url("https://images.pexels.com/photos/1000653/pexels-photo-1000653.jpeg?auto=compress&cs=tinysrgb&w=1600");
}